// @mixin bottom_hover {
//   a {
//     position: relative;
//     &::after {
//       position: absolute;
//       content: "";
//       top: 100%;
//       left: 0;
//       width: 100%;
//       height: 3px;
//       background: $green;
//       transform: scaleX(0);
//       transform-origin: right;
//       transition: transform 0.5s;
//     }
//     @include md {
//       &:hover {
//         color: $darkgreen;
//       }
//     }
//     &:hover::after {
//       transform: scaleX(1);
//       transform-origin: left;
//     }
//   }
// }
@mixin btn_animated {
  button {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
    a {
      transition: color 0.5s linear;
    }
    &:active {
      transform: scale(1.05);
    }
  }

  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $yellow;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  button:hover::before {
    width: 100%;
    height: 500%;
  }

  button:hover {
    a {
      color: $black;
    }
  }
}
@mixin nav_hover {
  a {
    background-image: linear-gradient(
      to right,
      #608cd3,
      #608cd3 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  a:before {
    content: "";
    background: $yellow;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    background-position: 0;
  }

  a:hover::before {
    width: 100%;
  }
}
@mixin text-effect {
  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }
  & {
    animation: lights 5s 750ms linear infinite;
  }
}
@mixin btn_animated2 {
  & {
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    cursor: pointer;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #ff6f3c;
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  &:hover {
    color: $white;
  }
  &:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  &:hover:before {
    top: -30px;
    left: -30px;
  }

  &:active {
    transform: scale(1.05);
  }
}
