//colors
$white: #ffffff;
$black: #111111;
$gray: #3f3f3f;
$yellow: #e3b748;
//border-radius
$borderRadius_43: 43px;
$borderRadius_55: 55px;
$borderRadius_14: 14px;
$borderRadius_8: 8px;
$borderRadius_23: 23px;
