<section class="section_ourTeams">
  <h2>Our Team</h2>
  <div class="team">
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Danial Def</p>
        <p>301 Cases</p>
      </div>
    </div>
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Sanfole</p>
        <p>850 Cases</p>
      </div>
    </div>
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Cesforila</p>
        <p>470 Cases</p>
      </div>
    </div>
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Colleen</p>
        <p>180 Cases</p>
      </div>
    </div>
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Haldone</p>
        <p>212 Cases</p>
      </div>
    </div>
    <div class="teammate">
      <div class="avatar"></div>
      <div class="characteristic">
        <p>Nik Jeo</p>
        <p>350 Cases</p>
      </div>
    </div>
  </div>
</section>
