<section class="section_general">
  <div class="text_block">
    <h1>You don’t have to Fight them Alone.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, curabitur
      sodales conubia ut inceptos faucibus himenaeos tortor eget, hac massa
      gravida arcu interdum proin curae.
    </p>
    <label>
      <img src="/src/assets/message.svg" alt="mail" />
      <input type="email" placeholder="Enter your eamil address" />
      <button class="button"><a href="#">Let’s Talk</a></button>
    </label>
  </div>
  <div class="img_block">
    <img src="/src/assets/background_general1.png" alt="" />
  </div>
</section>
