<section class="section_whatSays">
  <div class="text_btn">
    <h2>What says our happy Clients</h2>
    <div class="btns">
      <button id="prev">
        <img src="./src/assets/arrow.svg" alt="" />
      </button>
      <button id="next">
        <img src="./src/assets/arrow.svg" alt="" />
      </button>
    </div>
  </div>
  <div id="carousel">
    <div id="content">
      <div class="item">
        <div class="avatar"></div>
        <p>Jane Cooper</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Devon Lane</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Robert Fox</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Anjel Brek</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Heh Gils</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Bolk Venki</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Devon Lane</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Robert Fox</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Anjel Brek</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Heh Gils</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Bolk Venki</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Ben Beng</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
      <div class="item">
        <div class="avatar"></div>
        <p>Ben Beng</p>
        <p>Ceo of Hunt</p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequatduis enim velit mollit Exer. sit aliqua
          dolor do amet sint. Velit officia
        </p>
      </div>
    </div>
  </div>
</section>
