<footer class="footer">
  <div class="list">
    <div class="logo"><img src="/src/assets/logo.png" alt="logo" /></div>
    <nav class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/index.html">Attorneys</a></li>
        <li><a href="/index.html">Practice Areas</a></li>
        <li><a href="/index.html">About Us</a></li>
      </ul>
    </nav>

    <div class="social">
      <a href="https://www.instagram.com/"
        ><img src="/src/assets/icon.png" alt="instagram"
      /></a>
      <a href="https://uk-ua.facebook.com/"
        ><img src="/src/assets/icon-1.png" alt="facebook"
      /></a>
      <a href="https://twitter.com/"
        ><img src="/src/assets/icon-2.png" alt="twitter"
      /></a>
      <a href="pinterest.com"
        ><img src="/src/assets/icon-3.png" alt="pinterest"
      /></a>
    </div>
  </div>
  <div class="down_list">
    <ul>
      <li><a href="#">© 2020 Acme. All right reserved.</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
  </div>
</footer>
