.section_whatSays {
  padding: 0 clamp(0.625rem, -9.589rem + 21.28vw, 9.563rem);
  margin-top: clamp(3.125rem, 1.268rem + 9.29vw, 9.625rem);
  width: 100%;
  position: relative;
  h2 {
    @include font(clamp(1.875rem, 1.446rem + 2.14vw, 3.375rem), 500, 143);
    @include md {
      width: 374px;
    }
  }
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  #carousel::-webkit-scrollbar {
    height: 0;
  }
  .text_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    @include sm {
      flex-direction: row;
      justify-content: space-between;
    }
    margin-bottom: clamp(1.875rem, 0.625rem + 6.25vw, 6.25rem);
  }
  .btns {
    display: flex;
    gap: 18px;
  }
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    @include box(clamp(3.125rem, 2.429rem + 3.48vw, 5.563rem));
    transition: transform 0.3s ease;
    &:hover {
      background: $yellow;
    }

    img {
      width: 29px;
      height: 19px;
    }
  }

  #prev {
    img {
      transform: scaleX(-1);
    }
  }

  #content {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;

    &:hover {
      .item {
        filter: blur(3px);
        opacity: 0.5;
        transform: scale(0.98);
        &:hover {
          transform: scale(1);
          filter: blur(0px);
          opacity: 1;
          box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
        }
      }
    }
  }

  .item {
    position: relative;
    width: clamp(17.5rem, 16.107rem + 6.96vw, 22.375rem);
    height: 368px;
    border: 1.4px solid #ffffff1a;
    border-radius: $borderRadius_14;
    padding-left: 26px;
    cursor: pointer;
    transition: border 0.5s linear, transform 0.5s linear, filter 0.5s linear,
      opacity 0.5s linear;
    &:hover {
      border: 1.4px solid $yellow;
      .avatar {
        box-shadow: 0px 0px 20px 1px $yellow;
      }
      p:nth-child(2) {
        color: $yellow;
      }
    }
    p:nth-child(2) {
      @include font(24px, 600, 83);
      margin-bottom: 10px;
      transition: color 0.5s linear;
    }
    p:nth-child(3) {
      @include font(14px, 400, 142);
      margin-bottom: 22px;
    }
    p:nth-child(4) {
      @include font(14px, 400, 163);
      opacity: 0.3;
    }
    &::after {
      content: "";
      display: block;
      width: 55px;
      height: 38px;
      background: url("../src/assets/quote.svg");
      @include cover-background;
      position: absolute;
      top: 28px;
      right: 40px;
    }
  }
  .avatar {
    @include box(clamp(5.625rem, 5.25rem + 1.88vw, 6.938rem));
    background: url("../src/assets/avatar_9.jpeg");
    @include cover-background;
    border-radius: 50%;
    margin-top: 36px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s linear;
  }
  .item {
    &:nth-child(1) {
      .avatar {
        background: url("../src/assets/avatar_1.png");
        @include cover-background;
      }
    }
    &:nth-child(2) {
      .avatar {
        background: url("../src/assets/avatar_2.png");
        @include cover-background;
      }
    }
    &:nth-child(3) {
      .avatar {
        background: url("../src/assets/avatar_3.png");
        @include cover-background;
      }
    }
    &:nth-child(4) {
      .avatar {
        background: url("../src/assets/avatar_4.jpeg");
        @include cover-background;
      }
    }
    &:nth-child(5) {
      .avatar {
        background: url("../src/assets/avatar_5.jpeg");
        @include cover-background;
      }
    }
    &:nth-child(6) {
      .avatar {
        background: url("../src/assets/avatar_6.jpeg");
        @include cover-background;
      }
    }
    &:nth-child(7) {
      .avatar {
        background: url("../src/assets/avatar_7.jpeg");
        @include cover-background;
      }
    }
    &:nth-child(8) {
      .avatar {
        background: url("../src/assets/avatar_8.jpeg");
        @include cover-background;
      }
    }
  }
}
