.header {
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 clamp(0.625rem, -9.589rem + 21.28vw, 9.563rem);
  position: absolute;
  top: 60px;

  .nav {
    display: none;
    @include md {
      display: block;
    }
    ul {
      display: flex;
      gap: clamp(1.25rem, -0.25rem + 3.13vw, 2.563rem);
    }
    a {
      @include font(16px, 600, 163);
    }
  }
  .button {
    width: clamp(7.625rem, 6.732rem + 4.46vw, 10.75rem);
    height: 47px;
    background: transparent;
    border: 2px solid $white;
    a {
      color: $white;
    }
  }
}
